<div [ngClass]="theme" >
<h1 [style.backgroundColor]="color">
  My Angular 2 App is running
</h1>

<h2 [ngStyle]=
"{backgroundColor:color,color:'darkgray'}">
  Demonstrating input attribute diretive
</h2>
{{title}} is the title of the app

<button (click)="changeColor()">Change color</button>

<select name="theme" [(ngModel)]="theme" >
  <option>light-version</option>
  <option>dark-version</option>
</select>
<h3> Concepts learnt today</h3>
<hr>
<ul>
   <li *ngFor="let x of concepts" >{{x}}</li>
</ul>
</div>